<form action="/User/EditToDB" method="post">
    <input hidden type="number" value="@Model.Id" name="id" />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
        <div id="name" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="Age" value="@Model.Age">
        <div id="age" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
        <div id="email" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="Password" value="@Model.Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
